%h1= t('.title')

.row
  .col-12.col-md-6
    .card.mb-3
      .card-header= t('.totals.title')
      %table.table
        %thead
          %tr
            %th
            %th= t('.totals.previous')
            %th= t('.totals.current')
        %tr
          %td= t('.totals.week')
          %td= format_amount(@expense_totals.weekly.previous)
          %td= format_amount(@expense_totals.weekly.current)
        %tr
          %td= t('.totals.month')
          %td= format_amount(@expense_totals.monthly.previous)
          %td= format_amount(@expense_totals.monthly.current)
        %tr
          %td= t('.totals.year')
          %td= format_amount(@expense_totals.yearly.previous)
          %td= format_amount(@expense_totals.yearly.current)
      .card-footer
        %a{ href: history_expenses_path }= t('.totals.more')

  .col-12.col-md-6
    .card.mb-3
      .card-header= t('.top_categories.title')
      .card-body
        %select.form-control.form-control-sm.update-on-select{ data: { target: '#top_categories_content', url: top_categories_summary_index_path, param: 'interval' } }
          %option{ value: 'week' }= t('.top_categories.week')
          %option{ value: 'month', selected: true }= t('.top_categories.month')
          %option{ value: 'year' }= t('.top_categories.year')
      #top_categories_content
        %table.table
          %thead
            %tr
              %th= Category.human_attribute_name(:name)
              %th= Expense.human_attribute_name(:amount)
          - TopCategories::COUNT.times do
            %tr
              %td= t('.top_categories.loading')
              %td

.row
  .col-12
    .card
      .card-header= t('.latest_expenses.title')
      = render 'expenses/table', expenses: @latest_expenses
