.row.justify-content-between
  %h1.h2.col-auto= t('.title')
  .col-auto
    %a.btn.btn-success.mb-2{ href: new_periodic_expense_path }
      %i.fa.fa-plus
      .d-none.d-sm-inline
        = t('buttons.create_model', model: PeriodicExpense.model_name.human)

.row
  .col-sm-6
    .card.mb-3
      .card-header= t('.monthly.title')
      %table.table
        %thead
          %tr
            %th= Category.human_attribute_name(:name)
            %th= Expense.human_attribute_name(:amount)
        - @monthly_cost.each do |category, amount|
          %tr
            %td= category&.name || I18n.t('no_category')
            %td= format_amount(amount)
        %tr
          %td
            %strong= t('.monthly.sum')
          %td
            %strong= format_amount(@monthly_cost.values.sum)

  .col-sm-6
    .card.mb-3
      .card-header= t('.yearly.title')
      %table.table
        %thead
          %tr
            %th= Category.human_attribute_name(:name)
            %th= Expense.human_attribute_name(:amount)
        - @yearly_cost.each do |category, amount|
          %tr
            %td= category&.name || I18n.t('no_category')
            %td= format_amount(amount)
        %tr
          %td
            %strong= t('.yearly.sum')
          %td
            %strong= format_amount(@yearly_cost.values.sum)

.card
  .card-header
    = t('.table.title')
  %table.table
    %thead
      %tr
        %th= PeriodicExpense.human_attribute_name(:description)
        %th= PeriodicExpense.human_attribute_name(:periodicity)
        %th= PeriodicExpense.human_attribute_name(:amount)
    - @periodic_expenses.each do |periodic_expense|
      %tr
        %td= link_to periodic_expense.description, edit_periodic_expense_path(periodic_expense)
        %td= periodic_expense.human_enum_value(:periodicity)
        %td= format_amount periodic_expense.amount
