.card.my-3
  .card-header
    - if @category.new_record?
      = I18n.t('titles.new_model', model: Category.model_name.human)
    - else
      = I18n.t('titles.edit_model', model: Category.model_name.human)
  .card-body
    = form_with model: @category do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      = f.submit I18n.t('buttons.save'), class: 'btn btn-success'

- unless @category.new_record?
  .card.my-3
    .card-header.bg-danger.text-white
      = I18n.t('titles.destroy_model', model: Category.model_name.human)
    .card-body
      = link_to I18n.t('buttons.delete'), category_path(@category),
                method: :delete,
                class: 'btn btn-danger',
                data: { confirm: I18n.t('confirm_delete_named', name: @category.name) }
