!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= I18n.t('titles.brand')
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  %body
    %nav.navbar.navbar-expand-md.navbar-light.bg-light.mb-3
      %a.navbar-brand{href: root_path}= I18n.t('titles.brand')
      %button.navbar-toggler{type: 'button', data: { toggle: 'collapse', target: '#expenses-navbar-collapse' }, aria: { expanded: 'false', label: 'Toggle navigation' } }
        %span.navbar-toggler-icon

      #expenses-navbar-collapse.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link{href: expenses_path}= Expense.model_name.human(count: 2)
          %li.nav-item
            %a.nav-link{href: categories_path}= Category.model_name.human(count: 2)
          %li.nav-item
            %a.nav-link{href: import_expenses_path}= t('navigation.import_expenses')

    .container-fluid
      - flash.each do |type, messages|
        .alert{ class: type == 'success' ? 'alert-success' : 'alert-danger' }
          - if Array(messages).size > 1
            %ul.m-0
              - messages.each do |message|
                %li= message
          - else
            = Array(messages).first

      = yield
